.sort {
  width: 60%;
  margin-left: 5vw;
}
.mat-card {
  border-radius: 20px;
  margin-bottom: 2vw;
  span {
    display: block;
    strong {
      margin-right: 1vw;
    }
    margin-right: 1vw;
    margin-bottom: 1vw;
  }
}
